*.iml
.gradle
/local.properties
/.idea
/.kotlin
.DS_Store
/captures
uspek/out
.externalNativeBuild
/build
/out
/buildSrc/build
my.gradle.log

# Project exclude paths
/kotlinsample/out/
/uspek-junit/out/
