*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
uspek/out
.externalNativeBuild

# Project exclude paths
/kotlinsample/out/
/kotlinsample/out/production/classes/
/kotlinsample/out/test/classes/
/uspek-junit/out/
/uspek-junit/out/production/classes/